.header {
    overflow: hidden;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        overflow: hidden;
        position: relative;
        h1 {
            color: white;
            font-size: 1.2rem;
            white-space: nowrap;
        }
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            user-select: none;
            li {
                cursor: pointer;
                a {
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                }
                svg {
                    color: white;
                }
            }
        }
        .menuBtn,
        .closeBtn {
            position: absolute;
            overflow: hidden;
            right: 0;
            width: 1.5rem;
            height: 1.5rem;
            background: none;
            border: none;
            transform: translateX(1000%);
            transition: all .2s ease-in-out;
            svg {
                fill: white;
                width: 100%;
                height: 100%;
            }
        }
    }
    .mobileNav {
        position: fixed;
        padding-top: 7rem;
        height: calc(100vh - 64px);
        width: 100%;
        left: 50%;
        transform: translateX(50%);
        background-color: #030302;
        transition: all .2s ease-in-out;
        z-index: 2;
        ul {
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            li {
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                }
            }
        }
        .social {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            margin-top: 2rem;
            a {
                color: white;
                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .header {
        nav {
            ul {
                display: none;
            }
        }
    }
}