.servicesCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin: 4rem auto;
    header {
        margin: 1rem auto;
        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: .8rem;
            max-width: 70ch;
            color: #6d6d6d;
        }
    }
    main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        .card {
            position: relative;
            background-color: #191919;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 200px;
            width: 280px;
            flex-shrink: 0;
            svg {
                width: 2rem;
                height: 2rem;
                fill: #74FE48;
            }
            h1 {
                margin: 1rem 0 1.5rem 0;
            }
            p {
                color: #6d6d6d;
                font-size: .8rem;
                max-width: 34ch;
            }
        }
        .card:first-child::before {
            content: '';
            position: absolute;
            background: linear-gradient(to bottom left, #4CFD46, #D0FC4B);
            width: 120px;
            height: 100px;
            top: -8px;
            left: -8px;
            z-index: -1;
        }
        .card:last-child::before {
            content: '';
            position: absolute;
            background: linear-gradient(to bottom left, #4CFD46, #D0FC4B);
            width: 120px;
            height: 100px;
            bottom: -8px;
            right: -8px;
            z-index: -1;
        }
    }
}