.main {
    color: white;
    .cards {
        margin: 1rem 0;
        h6 {
            font-size: .8rem;
            color: #dedede;
        }
        p {
            font-size: .8rem;
            color: #6d6d6d;
        }
    }
}