.softPage {
    color: white;
    a {
        color: white;
        text-decoration: underline;
    }
    .richTextCon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 4rem;
        p {
            max-width: 60ch;
        }
        .ssCon {
            h1 {
                margin-bottom: 1rem;
            }
            .ss {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
            }
        }
    }
}