.footer {
    color: white;
    .top {
        background-color: #111;
        padding: 4rem 0;
        .topCon {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 4rem;
            .about,
            .git,
            .tags {
                width: 250px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .about {
                .title {
                    text-align: left;
                    font-size: 2rem;
                }
                p {
                    color: #888;
                    font-size: .8rem;
                }
                .social {
                    display: flex;
                    justify-content: space-between;
                    width: 150px;
                    a {
                        line-height: 0;
                        font-size: 0;
                        color: transparent;
                        svg {
                            stroke: #74FE48;
                        }
                    }
                }
            }
            .git {
                .contact {
                    a {
                        display: block;
                        font-size: .8rem;
                        color: #888;
                        text-decoration: none;
                        margin: .5rem 0;
                        svg {
                            fill: #888;
                            width: .8rem;
                            height: .8rem;
                            margin-right: .2rem;
                        }
                        .address {
                            fill: none;
                            stroke: #888;
                        }
                    }
                }
                button {
                    width: fit-content;
                    font-size: .8rem;
                    text-transform: uppercase;
                }
            }
            .tags {
                .tagCon {
                    max-width: 200px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .4rem;
                    p {
                        border: 2px solid #2E2F2F;
                        padding: .3rem .8rem;
                        color: #888;
                        font-size: .8rem;
                    }
                }
            }
        }
    }
    .bottom {
        background-color: #0D0D0D;
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 64px;
            padding: .5rem 0;
            p {
                font-size: .7rem;
                color: #999;
            }
            a {
                position: absolute;
                right: 2rem;
                line-height: 0;
                font-size: 0;
                color: transparent;
                svg {
                    fill: #999;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        .bottom {
            div {
                p {
                    max-width: 40ch;
                }
            }
        }
    }
}