@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy.otf") format('opentype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  scroll-behavior: smooth;
}
body {
  background-color: #030302;
}
.body-no-scroll {
  height: 100%;
  overflow: hidden;
}
.container {
  width: 70%;
  margin: 0 auto;
}

button.regular-btn {
  cursor: pointer;
  color: white;
  background: none;
  padding: .4rem 1rem;
  white-space: nowrap;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

button:focus {
  outline: none;
}

.gradientTitle {
  font-family: 'Gilroy', sans-serif;
  font-size: 4rem;
  text-align: center;
  background: linear-gradient(to left, #4CFD46, #D0FC4B);
  background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .container {
    width: 85%;
  }
}

/* Modifiers */

@media (max-width: 768px) {
  .btnActive {
      transform: translateX(0) !important;
  }
  .mobile-active {
      transform: translateX(-50%) !important;
  }
}