.heroContainer {
    display: grid;
    place-content: center;
    height: calc(90vh - 64px);
    h1 {
        max-width: 10ch;
    }
    button {
        width: fit-content;
        justify-self: center;
        margin-top: 2rem;
        display: flex;
        gap: .4rem;
    }
}

@media (max-width: 768px) {
    .heroContainer {
        h1 {
            font-size: 3rem;
        }
    }
}